html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,#E8CBC0 , #636FA4);
}

#renderCanvas {
    width: 100%;
    touch-action: none;
    text-align: center;
    /* float: right; */
     margin: 050px 0 0 0;
    /*remove border around canvas*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(163, 143, 30);
}
.container {
    width: 100%;
    height: 100px;
    float: left;
    margin: 0 0 0 0;
    /* background-color: red; */
}
.img {
    width: 100px;
    height: 100px;
    margin: 0 0 0 20px;
    float: left;
    -webkit-background-size: cover;
        background-size: cover;
        background-position: center;

}
#img1 {
    background-image: url("dinar1965face.png");
}
#img2 {
    background-image: url("dinar1915face.png");
}
#img3 {
    background-image: url("dinar1976face.png");
}
@media screen and (min-width: 1800px) {
html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-image: linear-gradient(to right,#E8CBC0 , #636FA4);
            }

            #renderCanvas {
                width: 500px;
                height: 500px;
                touch-action: none;
                /* float: right; */
                margin: 100px 0 0 30%;
                /*remove border around canvas*/
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
                -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
                outline: none !important;
            }
            h1 {
                text-align: center;
                font-size: 70px;
                color: rgb(163, 143, 30);
            }
            .container {
                width: 100px;
                height: 300px;
                float: left;
                margin: 100px 0 0 100px;
            }
            .img {
                width: 90px;
                height: 90px;
                margin-top: 10px;
                -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;

            }
            #img1 {
                background-image: url("dinar1965face.png");
            }
            #img2 {
                background-image: url("dinar1915face.png");
            }
            #img3 {
                background-image: url("dinar1976face.png");
            }
}